In [1]:
# Q-1 create one variable containing following types data -:sting,list,float,tuple 
#string
var1 = " i am a student of pwskills from data science 2.0"
print(type(var1))

<class 'str'>

In [2]:
#list
var2 = ['name', 'shivam kumar','age',21,'course','data science',2.0,]
print(type(var2))

<class 'list'>

In [3]:
#float
var3= 3.25
print(type(var3))

<class 'float'>

In [5]:
#tuple
var4=('shivam',20,'data science ',2.0,)
print(type(var4))

<class 'tuple'>

In [7]:
# Q-2 given are some following variable containing data 
var1 = ' '
var2 = '[DS,ML,python]'
var3= ['DS','Ml','python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [31]:
# Q-3 explain the use of data type of the above given variable 
var1 = 23/5.0 # '/'  is called a Division and  Arithmetic Operator and we input the value in integer and float
print(var1) # but the result will always came in floating value 
print(type(var1))

a= 79 # '%' is called a modulus and Arithmetic Operator and we the value in integer and float 
b= 9 # but the result will always give you ar a Remainder and type is integer value for example 79%9 = Quotient=8 and Remainder=7 
c= a%b
print(c)
print(type(c))

    
a=56
b=6
c=a//b # '//' is called a Division Floor and Arithmetic Operator and we input the value in integer and float 
print(c) # but the result will always came in integer value and it will take the integer value 
print(type(c)) # for example 56/6 = 9.3333 here 9 is the integer value .

a= 25 # '**' is called a Exponent and Arithmetic Operator and  we input the value in integer and float 
b= 2 # but the result will came in floating and integer value
c= a**b
print(c)
print(type(c))

4.6
<class 'float'>
7
<class 'int'>
9
<class 'int'>
625
<class 'int'>

In [41]:
# Q-4 create a list of length 10 of your choice containing multiple types of data using for loop print element and is data type 
l=["name","shivam kumar","age",21,"data science",2.0,True,False,28.5,"python"]
for i in l:
    print(i)
    print(type(i))

name
<class 'str'>
shivam kumar
<class 'str'>
age
<class 'str'>
21
<class 'int'>
data science
<class 'str'>
2.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
28.5
<class 'float'>
python
<class 'str'>

In [5]:
# Q-5 using a while loop verify if the number A is purely divisible by number B and if so then how many times
# it can be divisible ?
a= int(input("Enter the number A="))
b= int(input("Enter the number B=")) 
i=0

while a%b==0:
    i+=1
    a/=b
    
print(f"A is divisible by B")
print(f"{i} times B can divide A")

Enter the number A= 81
Enter the number B= 9

A is divisible by B
2 times B can divide A

In [ ]:
# Q-7 what do you understand about mutable and immutable data type ? give an example .
list = [2,3,4,5,6,'shivam',(3+4j),True,34.56] 
list[3]='ola'

In [ ]:
var5='shivam'
var5[2]='k'